<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

    <update id="update" parameterType="com.gumeik.domin.User">
        update user set username=#{username},password=#{password} where id = #{id}
    </update>
    <insert id="save" parameterType="com.gumeik.domin.User">
        insert into user values(#{id},#{username},#{password})
    </insert>
    <select id="findAll" resultType="com.gumeik.domin.User">
        SELECT username FROM user
    </select>
</mapper>